{
    "cli": {
        "version": ">= 16.17.3",
        "appVersionSource": "local"
    },
    "build": {
        "development": {
            "environment": "development",
            "developmentClient": true,
            "distribution": "internal",
            "channel": "development",
            "env": {
                "PIONEER_CLIENT_RUST_MODE": "prebuilt"
            }
        },
        "preview": {
            "environment": "preview",
            "distribution": "internal",
            "channel": "preview",
            "env": {
                "PIONEER_CLIENT_RUST_MODE": "prebuilt"
            }
        },
        "production": {
            "environment": "production",
            "channel": "production",
            "env": {
                "PIONEER_CLIENT_RUST_MODE": "prebuilt"
            }
        }
    },
    "submit": {
        "production": {
            "android": {
                "track": "internal",
                "releaseStatus": "completed"
            },
            "ios": {
                "appleId": "",
                "ascAppId": "",
                "appleTeamId": ""
            }
        }
    }
}
